
* {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
}

nav li {
    opacity: 1;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: black;
}
.wrapper {
    display: block;
}

#sidebar {
    width: 90%;
    height: 100vh;
    position: fixed;
    /*top: 0;*/
    right: -90%;
    /* top layer */
    z-index: 9999;
    background: white;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
}
#sidebar.active{
    right: 0;
}

 #dismiss , .fa-chevron-left {
    color: #a8adb7;
    margin-bottom: 10px ;
    text-decoration: none;
}


.sidebar-header p {
    margin-top: 9px;
    margin-bottom: 30px;
    color: #a8adb7;
}

.formdata {
    display: none;
    /*transition: all 0.5s;*/
}
.btn-primary{
    background-color: #043669;
    color: white;
}
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #043669;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}
.step.active {
    opacity: 1;
}

.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: 0.7;
}
#content {
    width: 100%;
    /*padding: 20px;*/
    min-height: 100vh;
    transition: all 3s;
    position: absolute;
    top: 0;
    right: 0;
}

.Apply-as-a-worker {

background: rgba(188, 217, 248, 0.31);
width: 211px;
height: 40px;
border-radius: 10px;
padding-top: 8px;
text-align: center;
display: inline-block;
color: #043669;
margin: 0 auto;
}


.Apply-as-a-worker:hover {
    background: rgba(188, 217, 248, 1);
    text-decoration: none;
}


.Find-Your-Next-Work {
    background-image: linear-gradient(to top, rgba(235, 245, 255, 0.51), rgba(229, 242, 255, 0.61), rgba(223, 239, 254, 0.71), #d9ebfe, #d3e8fd);
    padding-top: 20px;
}

.Find-Your-Next-Work h1 {
    line-height: 1.12;
    font-size: 6.5vw;
    font-weight: bold;
    color: #043669;
}

.Find-Your-Next-Work p {
    width: 50%;
    font-size: 1.5vw;
}

.Find-Your-Next-Work h5 {
    color: #043669;
}


.Be-smart h1 {
    line-height: 1.28;
    color: black;
    font-weight: bold;
}

.Be-smart p {
    font-weight: bold;
    padding-top: 30px;
    line-height: 1.5;
    opacity: 0.51;
}

.icons h4 {
    font-weight: bold;
}

.icons p {
    line-height: 2;
    opacity: 0.51;
}

.its-pretty-simple h1 {
    font-weight: bold;
}

.its-pretty-simple p {
    opacity: 0.51;

}

.its-pretty-simple h5 {
    color: #043669;
}


.carousel-indicators {
    bottom: -40px;
    margin: 0;
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #A7A7A7;
}


.carousel-indicators li:not(:last-child) {
    margin-right: 10px;
}


.carousel-item .d-flex {
    height: 50px;
}

.greenBlock {
    background-color: #4ed967;
    margin-bottom: -2rem;
    border-radius: 10px;
    text-align: center;
    margin-top: 50px;
}

.greenBlock .content {
    width: 70%;
}

.greenBlock .Apply-as-a-worker2 {
    background: rgba(255, 255, 255, 1);
    width: 250px;
    height: 60px;
    border-radius: 10px;
    padding-top: 20px;
    text-align: center;
    display: inline-block;
    color: #4ed967;
}

.greenBlock .Apply-as-a-worker2:hover {
    background: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.greenBlock h1 {
    color: white;
    font-weight: bold;
}

.greenBlock p {
    color: white;
    line-height: 1.44;

}


#subscribe-button {
    background-color: white;
    width: 170px;
    height: 50px;
    border-radius: 10px;
    opacity: 1;
    padding-top: 12px;
    text-align: center;
    display: inline-block;
    color: #043669;
    margin-top: 30px;

}

.subscribe-rectangle {
    width: auto;
    height: auto;
    border-radius: 20px;
    border: solid 1px rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.04);
    padding: 35px;
}

.subscribe-rectangle a {
    text-decoration: none;
    color: white;
    opacity: 0.51;

}

.subscribe-rectangle a:hover {
    text-decoration: none;
    color: white;
    opacity: 1;

}

/*.simple-background {*/
/*    object-fit: contain;*/
/*    !*transform: rotate(-90deg);*!*/
/*    !*background-image: url("../images/mobilemask.svg"), linear-gradient(270deg, rgba(235, 245, 255, 0), #c2e7ff);*!*/

/*}*/

.footer {
    background: #043669;
    color: white;
    margin-bottom: 0px;
    padding: 20px 0px;
}



footer  a ,footer h3 {
    text-decoration: none;
    color: white;

}

footer a:hover {
    text-decoration: none;
    color: white;
}

footer li:hover{
    color: white;
    transform: translateX(10px);
}

footer p {
    color: #aaa;
}
footer ul {
    list-style-image: url("../images/left-angle-bracket.png");
    background-position: left center;
    padding: 0;
    list-style-position: inside;
    /*display: inline-block;*/
    /*text-align: left;*/
    /*text-align: center;*/

}
footer li {
    margin: 10px 0px 0px 0px;
    /*display: inline;*/
    font-size: 18px;
    color: #aaa;
    line-height: 1.6em;
    transition: all .2s linear;

    /*list-style:none;*/

    /*display: inline-flex;*/
    /*align-items: center;*/
}





@media screen and (min-width: 960px) {
    .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-65%);
    }

    nav .Apply-as-a-worker {
        position: absolute;
        right: 10%;
    }

    .its-pretty-simple .content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}
@media only screen and (max-width: 600px) {
    #sidebar {
        width: 100%;
        height: 100vh;
        position: fixed;
        /*top: 0;*/
        right: -100%;
        /* top layer */
        z-index: 9999;
        background: white;
        color: #fff;
        transition: all 0.3s;
        overflow-y: scroll;
        top: 0;
        bottom: 0;
    }
}



