
* {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
}

.Apply-as-a-worker {

    background: rgba(188,217,248,0.31);
    width: 211px;
    height: 40px;
    border-radius: 10px;
    padding-top: 8px;
    text-align: center;
    display:inline-block;
    color: #043669;
    margin:0 auto;
}

nav li{
opacity: 1;
font-size: 16px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: black;
}

.Apply-as-a-worker:hover{
    background: rgba(188,217,248,1);
    text-decoration: none;
}


.Find-Your-Next-Work{
background-image: linear-gradient(to top, rgba(235, 245, 255, 0), #d3e8fd);
padding-top: 20px;
}
.Find-Your-Next-Work h1{
line-height: 1.12;
font-size: 8vw;
font-weight: bold;
color: #043669;
}
.Find-Your-Next-Work p {
width: 50%;
font-size: 1.5vw;
}
.Find-Your-Next-Work h5{
    color: #043669;
}


.Be-smart h1{
    line-height: 1.28;
    color: black;
    font-weight: bold;
}
.Be-smart p{
    font-weight: bold;
    padding-top: 30px;
    line-height: 1.5;
    opacity: 0.51;
}

.icons h4{
font-weight: bold;
}
.icons p{
    line-height: 2;
    opacity: 0.51;
}

.its-pretty-simple h1{
font-weight: bold;
}
.its-pretty-simple p{
    opacity: 0.51;

}
.its-pretty-simple h5{
    color:#043669 ;
}
.greenBlock{
    background-color: #4ed967;
    margin-bottom: -2rem;
    border-radius: 10px;
    text-align: center;
}

.greenBlock .content{
    width: 70%;
}
.greenBlock  .Apply-as-a-worker2{
background: rgba(255,255,255,1);
width: 250px;
height: 60px;
border-radius: 10px;
padding-top: 20px;
text-align: center;
display:inline-block;
color: #4ed967;
}

.greenBlock h1{
color: white;
font-weight: bold;
}
.greenBlock p{
color: white;
line-height: 1.44;

}
.footer{
background: #043669;
color: white;
margin-bottom: 0px;
padding: 20px 0px;
}
footer h5,footer h6{
font-weight: bold;
    color: white;
}

footer .list-elements a{
    color: white;
    text-decoration: none;
    opacity: 0.51;
    padding-top: 15px;
    display: block;

}
footer .list-elements a:hover{
    color: white;
    text-decoration: none;
}
footer p{
    color: white;
    opacity: 0.51;
}
#subscribe-button {
    background-color: white;
    width: 170px;
    height: 50px;
    border-radius: 10px;
    opacity: 1;
    padding-top: 12px;
    text-align: center;
    display:inline-block;
    color: #043669;
    margin-top: 30px;

}
.subscribe-rectangle{
    width: auto;
    height: auto;
    border-radius: 20px;
    border: solid 1px rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.04);
    padding: 35px;
}
.subscribe-rectangle a{
    text-decoration: none;
    color: white;
    opacity: 0.51;

}

@media screen and (min-width: 960px) {
    .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-65%);
    }
    nav .Apply-as-a-worker{
        position: absolute;
        right: 10%;
    }
    .its-pretty-simple .content{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}
@media screen  and  (max-width:900px ){

}

